//====== COLOR PALLETE ======
$black: #221f1f;
$white: #fff;
$navGray: rgba(0, 0, 0, 0.7);
$green: #3f9301;
$mango: #fc814a;

//====== FONTS ======
$madurai: "Hind Madurai", sans-serif;
$playfair: "Playfair Display", serif;
