//====== COLOR PALLETE ======
$black: black;
$white: white;
$red: red;
$navGray: rgba(0, 0, 0, 0.7);
$green: #3f9301;

//====== FONTS ======
$merriweather: "Merriweather", serif;
//====== FUNCTIONS ======
