@use "../variables/Variables" as *;

* {
  box-sizing: border-box;
}

html,
body {
  min-width: 100vw;
  min-height: 100vh;
}

.App {
  text-align: center;
}

video {
  min-width: 100vw;
  min-height: 100vh;
  object-fit: cover;
}

.text {
  h1 {
    color: $white;
  }

  p {
    color: $white;
  }

  .order-button {
    text-decoration: none;
    color: $white;
    background-color: 4px solid $green;
  }
}

// ERROR PAGE
.error-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 300px;
}

#error-time {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-color: $white;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 200px;
}

img {
  width: 200px;
}

#error-head {
  font-size: 80px;
  text-decoration: none;
  margin: 30px 0;
}

#error-text {
  font-size: 30px;
}

@media screen and (max-width: 768px) {
  .error-flex {
    margin-top: 200px;
  }
}

@media screen and (max-width: 470px) {
  #error-time {
    margin-left: 50px;
    margin-right: 50px;
  }
}

// footer
.foot-container {
  width: 100vw;
  background-color: $black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top: 2px solid $white;
}

#foot-logo {
  width: 100px;
  margin: 20px 0;
}

.foot-social ul {
  list-style-type: none;
  padding: 0;
}

.foot-social ul li a {
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.flex-them {
  display: flex;
}

.social-flexbox p {
  margin-bottom: 0;
}
