@use "../variables/Variables" as *;

* {
  box-sizing: border-box;
}

html,
body {
  min-width: 100vw;
  min-height: 100vh;
}

.App {
  text-align: center;
}

video {
  min-width: 100vw;
  min-height: 100vh;
  object-fit: cover;
}

.text {
  h1 {
    color: $white;
  }

  p {
    color: $white;
  }

  .order-button {
    text-decoration: none;
    color: white;
    background-color: 4px solid $green;
    // z-index: 1000;
  }
}
