@use "../variables/Variables" as *;
body {
  background-color: $mango;
}

.header {
  text-align: center;
  text-decoration: none;
  font-size: 50px;
  width: 100vw;
  background-color: $green;
  margin-top: 134px;
  padding: 40px 0;
  color: $white;
}

.heading-contact-menu {
  width: 100vw;
  margin-top: 155px;
  height: 500px;
  object-fit: cover;
}

.heading-title {
  display: flex;
  justify-content: center;
}

.heading-contact-text-menu {
  position: absolute;
  top: 40%;
  color: $white;
  font-size: 100px;
  font-family: $playfair;
}
.menu-container {
  display: flex;
  justify-content: center;
}

.starter-flex {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 100px;
}

.font-change {
  padding: 20px;

  h2 {
    font-family: $playfair;
  }
  p {
    font-family: $madurai;
  }
}

hr {
  width: 90vw;
}

.food-separation {
  margin: 0;
  background-color: white;
  border-radius: 10px;
}

.food-container {
  margin: 40px;
}

.horz {
  width: 40%;
}

.section-header {
  margin: 0;
  font-family: $playfair;
  display: flex;
  justify-content: center;
  background-color: $black;
  color: $white;
  padding: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

@media screen and (max-width: 768px) {
  .heading-contact-menu {
    margin: 0;
  }

  .heading-contact-text-menu {
    top: 30%;
  }
}

@media screen and (max-width: 600px) {
  .starter-flex {
    grid-template-columns: repeat(1, 1fr);
  }

  .section-header {
    text-align: center;
  }
}
